---
title: Sponsorship
hero_graphic: /assets/img/2026/sponsorship.svg
---

{% layout "_layouts/page.html" %}

{% block hero_content %}

<p class="mb-8">

  DjangoCon US is only possible through the generosity of the organizations and businesses on this page. Their donations make it possible for us to provide opportunity grants to speakers and attendees, record all talks, host sprints, and feed everyone for five days. Thank you for your support!
</p>

<div class="flex flex-wrap gap-4 align-center">
  <a href="/sponsors/information/" class="button">View Sponsorship Prospectus</a>
  <a href="mailto:sponsors@djangocon.us" class="button">Get in touch</a>
</div>
{% endblock %}

{% block wrapper %}
<div class="wrapper">


<div class="pt-0 block-container">

  


{% for level in collections.sponsorsByLevel %}
<div class="py-6">
  <div class="flex flex-col justify-center wrapper">
    <h2 class="flex items-center bg-sep">
      <span class="px-8 py-2 mx-auto text-xl  text-dark-blue bg-background rounded-2xl font-heading">{{ level[0] }}</span>
    </h2>

    <ul class="divide-y divide-gray-100">
      {% for sponsor in level[1] %}
        <li class="py-12 space-y-4">
          <div class="flex flex-col gap-6 lg:flex-row lg:gap-16">
            <div class="items-start justify-center lg:flex lg:w-1/4">
              {% if sponsor.data.logo %}
                {% assign orientation_class = "h-auto w-auto max-w-56 max-h-16 lg:max-w-60 lg:max-h-28" %}
                {% if sponsor.data.logo.orientation == "portrait" %}
                  {% assign orientation_class = "h-auto w-auto max-h-32 lg:max-h-80 lg:max-w-40" %}
                {% endif %}
                {% if sponsor.data.url.target %}
                <a href="{{ sponsor.data.url.target }}" target="_blank" rel="noopener noreferrer sponsored" class="block w-full h-full">
                  <span class="sr-only">{{ sponsor.data.name }}</span>
                  <img
                    src="/sponsors/{{ sponsor.data.logo.filename }}"
                    alt="{{ sponsor.data.name }}"
                    class="{{ orientation_class }}"
                    aria-hidden="true">
                </a>
                {% else %}
                  <img
                    src="/sponsors/{{ sponsor.data.logo.filename }}"
                    alt="{{ sponsor.data.name }} logo"
                    class="{{ orientation_class }}">
                {% endif %}

              {% endif %}
            </div>

            <div class="space-y-4 lg:flex-1">
              <h3 class="text-2xl lg:text-4xl font-heading">
                {% if sponsor.data.url %}
                  <a href="{{ sponsor.data.url.target }}" class="no-underline">{{ sponsor.data.name }}</a>
                {% endif %}
              </h3>
              {% if sponsor.data.url %}
                <a href="{{ sponsor.data.url.target }}" class="inline-block link" aria-hidden="true">{{ sponsor.data.url.label }}</a>
              {% endif %}
              {% if sponsor.content %}
                <div class="space-y-6 prose">
                  {{ sponsor.content | markdown }}
                </div>
              {% endif %}
              {% if sponsor.data.hiring_url %}
                <a href="{{ sponsor.data.hiring_url }}" class="button mt-4" target="_blank" rel="noopener noreferrer sponsored">
                  <span class="text-xl">🌟</span> {{ sponsor.data.name }} is hiring!</a>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

{% endblock %}
